// Globals
$body-font-family: 'Microsoft JhengHei', '微軟正黑體', 'Roboto', 'Helvetica', sans-serif;

// $btn
$btn-hover-opacity: 0.3;

// $data-table
$data-table-regular-header-font-size: 1rem;

// $card
$card-border-radius: 4px 4px 0px 0px;

// $tab
$tabs-bar-background-color: #eeeeee;
